

.container {
    max-width: 600px;
    margin: 40px auto;
    background: rgb(233, 233, 233);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}


.buttons {
    margin-top: 20px;
}





footer {
    text-align: center;
   
}




